.container{
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: 120px 1fr auto;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    border: 3px solid black;
}

.block1{
    background: rgb(224, 136, 210);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.block2{
    background: rgb(240, 176, 197);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.block3{
    background: rgb(184, 172, 235);
    grid-area: 2/2/3/4;
}

.block4{
    background: rgb(172, 210, 235);
    grid-column: 1 / span 3;
    grid-row: 3 / -1;
}