:root{
    --bg-color:rgb(164, 166, 167);
    --secont-bg-color:darkgrey;
    --text-color:black;
    --second-text-color:rgb(255, 254, 254);
;}

@media(prefers-color-sheme: dark){
    :root{
        --bg-color:rgb(63, 125, 161);
        --secont-bg-color:rgb(233, 188, 188);
        --text-color:rgb(252, 250, 250);
        --second-text-color:rgb(7, 7, 7);
    ;}

}




body {
    background: lavender;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    background: rgb(129, 236, 250);
    border: solid brown 5px;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.block{
    background: cornsilk;
    border: 2px solid rgb(192, 143, 238);
    width: 200px;
    height: 200px;
}

.block3{
    flex-shrink: 0 ;
    flex-grow: 3;
}

.block4{
    flex-shrink: 4;
}

.block1{
    flex-grow: 1;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    min-height: 100%;
    color: var(--text-color)
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    background: rgb(70, 66, 69);
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

header{
    min-height: 120px;
    background: rgb(164, 166, 167);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

.main-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.main-menu a{
    color: black;
}
.main-menu li{
    flex-shrink: 0;
}

h1{
    flex-shrink: 0; 
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background: darkgrey;
    color:black
}

aside{
    background:var(--bg-color);
    width: 250px;
}

.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    width: 23%;
    border: 1px solid white;
    border-radius: 15px;
    padding-bottom: 15px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card H3{
    color:rgb(183, 183, 199);
    margin: 10px 15px ;
}

.card-price{
    margin: 0 15px;
}

.card button{
    background: var(--secont-bg-color);
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin: 10px 15px;
    cursor:pointer;
    transition:0.3s;
}

.card button:hover,
.card button:focus{
    box-shadow: 0 0 5px rgb(221, 220, 220);
}

.content{
    padding: 20px;
}

.drop-menu{
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.drop-menu svg{
    fill:aliceblue;
    width: 44px;
    height: 44px;
}

@media(max-width:992px) {
    .card{
        width: 30%;
    }
    
}
@media(max-width:768px){
aside {
    display: none;

}
}

@media(max-width:700px){
    .card{
        width: 46%;
    }
}
@media(max-width:582px){
    .drop-menu{
        display: block;
    }
    .main-menu {
        display: none;
    }
    }

@media(max-width:500px){
    .card img{
        height: 120px;
    }
}